// transitions/slide.styl


.t-slide 
    position absolute
    left    0
    top     0
    width   100%
    height  100%

.t-slide.ng-enter,
.t-slide.ng-leave 
    anim( all 1s ease )

.t-slide.ng-enter 
    left 100%

.t-slide.ng-enter-active 
    left 0

.t-slide.ng-leave 
    left 0

.t-slide.ng-leave-active 
    left -100%
