// transitions/slide.styl


.t-slide
    absolute top left
    size     100%

.t-slide.ng-enter,
.t-slide.ng-leave 
    transition all 1s ease

.t-slide.ng-enter 
    left 100%

.t-slide.ng-enter-active 
    left 0

.t-slide.ng-leave 
    left 0

.t-slide.ng-leave-active 
    left -100%
