// modules/base.styl


html,
body
    size    100%
    margin  0
    padding 0

body
    color    grey
    bg-color white-dark

a,
a:visited
    color default-color
    text-decoration none
    transition all 0.3s ease-out

a:hover,
a:active
    color highlight-color
    text-decoration none

a:focus
    outline none

input,
textarea
    outline none
    border  none

button:focus
    outline none
