// modules/base.styl


html,
body
    size  100%

body
    bk      white-dark
    color   grey

a,
a:visited
    color default-color
    text-decoration none
    anim( all 0.3s ease-out )

a:hover,
a:active
    color highlight-color
    text-decoration none

a:focus
  outline none

input,
textarea
    outline none
    border  none

button:focus
    outline none
