// modules/header.styl


// header > module
.header
    size       100% 100px
    overflow   hidden
    transition all 0.5s ease-out

    +above(size-larger)
        absolute    top left
        background  black
        z-index     z-foreground


    // header > states
    &.is-sticky

        +above(size-larger)
            fixed       top left
            margin-top  0

    &.is-pushed-up

        +above(size-larger)
            margin-top -120px
            transition all 0.01s ease-out
