
.nav
    width    100%
    bg-color black

    .brand
        inline-block()
        margin 10px 0
        font-size fs-large
        color     white-dark

    .menu
        inline-block()
        reset-list()
        float right

        li
            inline-block()
            padding 15px 10px


    a,
    a:visited
        color white-dark

    a:hover,
    a:active
        color hilight-color
