// settings/axis.styl


// Axis is a great css library built on top of stylus.
// Many of it's settings have been split out into their own files (in settings/).
// The below represent a few of the remaining settings.
// See http://roots.cx/axis/ for more.


// Vendor prefixes
vendors = webkit moz o ms official


// Image path
img-path = '../img/'


// progressive internet explorer (http://css3pie.com/)
pie-enabled = false
pie-path    = '/pie.htc'
