// settings/colors.styl


// colors
red         = #dd6e6f
orange      = #f17f43
yellow      = #F8CA5C
gold        = #cf7e36
green       = #198c9a
grey        = #555
light-blue  = #52D7FE
blue        = #00a6fc
purple      = #8E48C2
white       = #fff
white-dark  = #efefef
black       = #1a1b1c


// Component Colors
default-color   = blue
highlight-color = orange
