// settings/font-sizes.styl


// Sizes
fs-micro    = 8px
fs-smallest = 10px
fs-smaller  = 12px
fs-small    = 14px
fs-base     = 16px
fs-large    = 20px
fs-larger   = 24px
fs-largest  = 44px
fs-jumbo    = 160px


// Letter Spacing
ls-tightest = -6px
ls-tighter  = -3px
ls-tight    = -1px
ls-normal   = 0px
ls-loose    = 3px
ls-looser   = 6px
