// settings/sizes.styl


// Cutoff/Size values
size-micro    = 280px
size-smallest = 320px
size-smaller  = 480px
size-small    = 600px
size-base     = 768px
size-large    = 800px
size-larger   = 960px
size-largest  = 1120px
size-jumbo    = 1280px
