// config/z-scale.styl

// Z Indexing tends to get a little crazy.
// The below standardisation was put together by Jacob - @fat here
// https://medium.com/@fat/mediums-css-is-actually-pretty-fucking-good-b8e2a6c78b06
// There have been a few changes to the core idea to make it a little nicer for stylus
// but the idea is the same. Keep your z-indexing to these values and don't go using
// arbitrary numbers throughout the app.


// Z-Index Scale

z-1     = 100
z-2     = 200
z-3     = 300
z-4     = 400
z-5     = 500
z-6     = 600
z-7     = 700
z-8     = 800
z-9     = 900
z-10    = 1000


// Z-Index Components

z-foreground    = z-1
z-background    = z-1
z-nav           = z-6
z-dialog        = z-8
z-tooltip       = z-8
z-overlay       = z-9
z-dev           = z-10
