
bk(c)
    background-color c


anim(opts)
    -webkit-transition:     opts;
    -moz-transition:        opts;
    -ms-transition:         opts;
    -o-transition:          opts;
    transition:             opts;