// utils/utils.styl


.u-fill
    absolute top left
    size     100%

.u-fitbox
    position    absolute
    top         0
    left        0
    bottom      0
    right       0
    height      auto
    display     block

.u-hidden
    display  none

.u-zfix
    -webkit-transform           translateZ(0)
    webkit-overflow-scrolling   touch
