// mixins/shortcuts.styl


// General helpers in shorthand

bk(c)
    background-color c

bi(i)
    background-image url( img-path + i )

cursor-hand()
    cursor pointer
    cursor hand

ls(n)
    letter-spacing n
